@font-face {
  font-family: 'Baloo-Thambi';
  src: url("../fonts/BalooThambi-Regular.eot?");
  src: url("../fonts/BalooThambi-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/BalooThambi-Regular.woff2") format("woff2");
  src: url("../fonts/BalooThambi-Regular.woff") format("woff");
  src: url("../fonts/BalooThambi-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot?");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat-ExtraBold.eot?");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype"); }
.malteks-nav {
  width: 100%;
  position: absolute;
  background-color: #EC9933;
  overflow: hidden;
  z-index: 1;
  font-family: 'Montserrat-Bold'; }
  .malteks-nav .nav-container {
    float: left; }
  .malteks-nav .nav-icon {
    width: 55px;
    height: 45px;
    position: absolute;
    top: 15px;
    right: 13px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    display: none; }
    @media screen and (max-width: 768px) {
      .malteks-nav .nav-icon {
        display: inline; } }
    .malteks-nav .nav-icon span {
      display: block;
      position: absolute;
      height: 9px;
      width: 100%;
      background: #4D2D52;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -ms-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out; }
  .malteks-nav .logo-img {
    width: 200px;
    padding: 20px; }
  .malteks-nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 900;
    color: #4D2D52;
    text-transform: uppercase;
    padding: 20px 0;
    letter-spacing: 2px;
    word-spacing: 10px; }
  .malteks-nav ul {
    float: right;
    overflow: hidden;
    text-align: center;
    margin: 10px 0;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s; }
    @media screen and (max-width: 768px) {
      .malteks-nav ul {
        max-height: 0;
        width: 100%;
        margin: 0; } }
    .malteks-nav ul li {
      display: inline-block;
      padding: 25px; }
      @media screen and (max-width: 768px) {
        .malteks-nav ul li {
          box-sizing: border-box;
          width: 100%; } }
  @media screen and (max-width: 768px) {
    .malteks-nav .show {
      max-height: 20em;
      margin-right: 0; } }

.a-link {
  position: relative; }
  .a-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #4D2D52;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .a-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }
  @media screen and (max-width: 768px) {
    .a-link .show {
      max-height: 20em;
      margin-right: 0; } }

.nav-icon span:nth-child(1) {
  top: 0; }

.nav-icon span:nth-child(2),
.nav-icon span:nth-child(3) {
  top: 18px; }

.nav-icon span:nth-child(4) {
  top: 36px; }

.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%; }

.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%; }

header {
  height: 700px;
  text-align: center;
  padding: 150px 50px 50px 50px;
  font-family: 'Baloo-Thambi'; }
  @media screen and (max-width: 1397px) {
    header {
      height: 380px; } }
  @media screen and (max-width: 768px) {
    header {
      padding: 150px 50px 150px 50px;
      height: 250px; } }
  @media screen and (max-width: 540px) {
    header {
      padding: 150px 10px 70px 10px; } }
  header .header-text {
    font-size: 145px;
    font-weight: bold;
    color: #EC9933;
    margin-top: 50px;
    text-shadow: 6px 6px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    letter-spacing: 3px;
    word-spacing: 20px; }
    @media screen and (max-width: 1397px) {
      header .header-text {
        font-size: 80px; } }
    @media screen and (max-width: 1200px) {
      header .header-text {
        font-size: 87px; } }
    @media screen and (max-width: 768px) {
      header .header-text {
        font-size: 75px; } }
    @media screen and (max-width: 600px) {
      header .header-text {
        font-size: 45px; } }
    @media screen and (max-width: 370px) {
      header .header-text {
        font-size: 30px; } }

.home {
  background: #ffffff;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
  .home .malteks-home-image {
    max-width: 100%;
    margin: 0 auto;
    margin-top: -20%;
    margin-bottom: 50px; }
    @media screen and (max-width: 350px) {
      .home .malteks-home-image {
        margin-top: -31%;
        margin-bottom: 20px; } }
    .home .malteks-home-image img {
      width: 500px; }
      @media screen and (max-width: 768px) {
        .home .malteks-home-image img {
          width: 200px; } }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

/*# sourceMappingURL=header.css.map */
